<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-3 header-logo bg-light">
                <a href="#" class="d-block h-100">
                    <img src="{{img('ant-logo2.png')}}" alt="">
                </a>
            </div>
            <div class="col-md-7 px-0 order-md-1 order-2">
                <div class="d-md-flex flex-column h-100">
                    <div class="header-sologan flex-grow-1 d-lg-flex d-none align-items-center justify-content-center">
                        <span>TRUNG TÂM TUYỂN DỤNG & GIỚI THIỆU VIỆC LÀM VŨNG TÀU JOB.VUTA.VN</span>
                    </div>
                    <nav class="header-navbar" id="navbar">
                        <ul class="nolist d-flex flex-md-row flex-column background-primary">
                            <li><a href="#">Trang Chủ</a></li>
                            <li><a href="#">Lượt Xem 500</a></li>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Việc Làm Vũng Tàu
                                </a>
                                <!-- <a href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a> -->
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% for item in data.menu %}
                                    <li><a class="dropdown-item" href="#">{{item}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-md-3 col-6 header-control px-md-0 order-md-2 order-1 px-0">
                <ul class="row nolist">
                    <li class="col-md-6 background-primary"><a href="#">
                        Đăng Ký
                        </a></li>
                    <li class="col-md-6 background-primary"><a href="#">
                        Đăng Nhập
                        </a></li>
                    <li class="col-md-6 background-secondary"><a href="#">
                        Nhập CV
                        </a></li>
                    <li class="col-md-6 background-info"><a href="#">
                        Đăng Tuyển
                        </a></li>
                </ul>
            </div>
            <!-- <div class="col-3 d-md-none d-block order-1 header-toggle px-0">
                <a href="#" class="d-block text-center" data-toggle-menu="#navbar">
                    <i class="fa fa-bars fa-lg"></i>
                    <span class="d-block text-center">Menu</span>
                </a>
            </div> -->
        </div>
    </div>
</header>