<header id="header">
    <div class="container">
        <div class="row">
            <div id="logo" class="col-md-3 col-10">
                <a href="#" class="text-md-center">
                    <img src="{{img('logo.png')}}" alt="">
                </a>
            </div>
            <div class="col-md-9 pl-0 order-md-0 order-1">
                <div class="d-flex flex-column h-100">
                    <h1 class="mb-0 text-normal header-middle text-uppercase text-center">
                        <b>Trung tâm tuyển dụng & giới thiệu việc làm vũng tàu <br> job.vuta.vn</b>
                    </h1>
                    <nav id="navbar">
                        <ul class="nolist d-md-flex h-100">
                            <li>
                                <a href="#">
                                    <i class="fa fa-lg fa-home"></i>
                                    <span>Trang Chủ</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Danh Sách</span>
                                    <span>Tổng Hợp</span>
                                </a>
                                <aside class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="nolist">
                                        <li class="dropdown-item"><a href="#">Danh sách công ty</a></li>
                                        <li class="dropdown-item"><a href="#">Danh sách ứng viên</a></li>
                                    </ul>
                                </aside>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Việc làm</span>
                                    <span>Vũng Tàu</span>
                                </a>
                                <aside class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="nolist dropdown-list">
                                        <li class="dropdown-item"><a href="#">Việc làm quản lý</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm văn phòng</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thực tập</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm ngoài nước</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thời vụ</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm partime</a></li>
                                    </ul>
                                </aside>
                            </li>
                            <li class="dropdown manage">
                                <a class="text-white" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span>Quản lý</span>
                                    <span>Tài Khoản</span>
                                </a>
                                <aside class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="nolist">
                                        <li class="dropdown-item"><a href="#">Việc làm quản lý</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm văn phòng</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thực tập</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm ngoài nước</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thời vụ</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm partime</a></li>
                                    </ul>
                                </aside>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="toggle" class="col-2 d-md-none d-block text-center">
                <a href="#">
                    <i class="fa fa-lg fa-bars"></i>
                    <span>Menu</span>
                </a>
            </div>
        </div>
    </div>
</header>