<header id="header">
    <div class="container">
        <div class="row">
            <div id="logo" class="col-md-3">
                <a href="#" class="d-block text-center">
                    <img src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/54278372_315899255782329_5115862973650305024_n.png?_nc_cat=111&_nc_oc=AQmAhpyKKn_CDl5kRWqBFiG0iQrJ0hhMrM-3Ztsiw1d0GXMWy01EYO2ZFTggDCFK5qZSJmP4ZqIgTOzmxJnOuyEq&_nc_ht=scontent.fsgn5-3.fna&oh=e463df04851e5213c55b2ef15a1fbb0f&oe=5D0636A4" alt="">
                </a>
            </div>
            <div class="col-md-6 px-0 header-middle">
                <div class="d-flex flex-column">
                    <h1 class="mb-0 text-normal text-uppercase text-center">
                        <b>Trung tâm tuyển dụng  & giới thiệu việc làm vũng tàu <br> job.vuta.vn</b>
                    </h1>
                    <nav id="navbar">
                        <ul class="nolist d-md-flex">
                            <li>
                                <a href="#">
                                    <i class="fa fa-lg fa-home"></i>
                                    <span>Trang Chủ</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Lượt xem:</span>
                                    <span>3,000,000</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Việc làm</span>
                                    <span>Vũng Tàu</span>
                                </a>
                                <aside class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="nolist">
                                        <li class="dropdown-item"><a href="#">Việc làm quản lý</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm văn phòng</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thực tập</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm ngoài nước</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm thời vụ</a></li>
                                        <li class="dropdown-item"><a href="#">Việc làm partime</a></li>
                                    </ul>
                                </aside>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <aside id="toggle-menu" class="col-md-3 px-0">
                <ul class="d-flex h-100 nolist">
                    <li class="col-md-6 px-0">
                        <a href="#">
                            <i class="fa fa-lg fa-user"></i>
                            <span>Đăng ký</span>
                        </a>
                    </li>
                    <li class="col-md-6 px-0">
                        <a href="">
                            <i class="fa fa-lg fa-lock"></i>
                            <span>Đăng nhập</span>
                        </a>
                    </li>
                    <li class="col-md-6 px-0">
                        <a href="">
                            <i class="fa fa-lg fa-address-card-o"></i>
                            <span>Nhập CV</span>
                        </a>
                    </li>
                    <li class="col-md-6 px-0">
                        <a href="">
                            <i class="fa fa-lg fa-file"></i>
                            <span>Đăng tuyển</span>
                        </a>
                    </li>
                    <li class="px-0 d-md-none">
                        <a href="">
                            <div class="span-button--toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <span>Menu</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</header>