<div class="col-xl-4 col-lg-6 col-md-6 mb-3">
    <div class="list-person__item">
        <div class="d-flex list-person_fixed">
            <div class="col-md-4 col-4 person-gallery p-0" style="background-image: url('https://nhadat24h.net/Upload/User/Avatar/2018/327268//32b4b8b7-dc93-4569-96ea-2d54d522d818.jpg')">
    
            </div>
            <div class="col-md-8 col-8">
                <h5 class="m-0"><a href="#" class="person-titlename">Nguyễn Thanh Tâm</a></h5>
                <a href="#" class="person-jobs">Nhân Viên Kinh Doanh</a><br>
                <div class="rating-star">
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <ul class="nolist my-1 d-flex flex-wrap">
                    <li>
                        <a href="#" class="text-light person-tags">23 tuổi</a>
                    </li>
                    <li>
                        <a href="#" class="text-light person-tags">Bà Rịa</a>
                    </li>
                    <li>
                        <a href="#" class="text-light person-tags">ĐH</a>
                    </li>
                    <li>
                        <a href="#" class="text-light person-tags">4 Năm KN</a>
                    </li>
                    <li>
                        <a href="#" class="text-light person-tags">Đang tìm việc</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>