.employer {
    &-box {
        background-color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        @include max-lg {
            margin-bottom: 1rem;
        }
        h5{
            @include max-sm {
            font-size: 12pt;
            font-weight: bold;
            }
        }
        
        a {
            color: #000;
            &:hover {
                color: #1c9c05;
            }
        }
    }
    &-listjob:not(:last-child) {
        border-bottom: 1px dotted orangered;
        padding-bottom: 12px;
    }
}

.icons-job {
    &::before {
        content: '\f090';
        font-family: Fontawesome;
        font-size: 3rem;
    }
}
.icons2-job {
       &::before {
        content: '\f02d';
        font-family: Fontawesome;
        font-size: 3rem;
    }
}
.number-job {
    font-size: 22pt;
}
.header-login {
    a {
        padding: 25px 20px!important;
        @include max-sm {
            padding: 15px 20px!important;
        }
        
    }
}
.display-none {
    @include max-sm {
        display: none;
    }
}
.timepost {
    border: 1px solid #ddd;
    a {
        background-color: #1378d2;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px; 
        font-weight: bold;
        font-size: 13pt;
    }
}

thead {
    @include max-sm {

        font-size: 12pt;
    }
}
tbody {
    @include max-sm {
        font-size: 11pt;
    }
}
.table-title {
    font-size: 13pt;
}
table {
    a {
        color: #000;
        &:hover {
            color: #000;
            opacity: 0.7;
        }
    }
}
.employerlist-box {
    background-color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}