#header{
    top: -100%;
    left: 0;
    width: 100%;
    transition: all .4s ease;
    z-index: 6;
    @include md{
        background-color: #43A047;
    }
    @include max-md{
        background-color: #fff;
        box-shadow: 0 5px 15px 5px rgba(#000, .2);
    }
    #logo{
        @include md{
            padding-right: 0;
            a{
                height: 100%;
                width: 100%;
                text-align: center;
                padding: 8px 0;
                position: relative;
                z-index: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    // transform: skew(5deg, 5deg) scale(1,1.3);
                    // box-shadow: -5px 5px 25px rgba(#4CAF50, .4);
                    z-index: -1;
                }
                img{
                    align-self: center;
                    @include xl{
                        max-width: 160px;
                    }
                    @include max-md{
                        width: 100%;
                    }

                }
            }
        }
        @include max-md{
            padding: 8px 15px;
            flex-grow: 1;
            img{
                height: 50px;
                width: auto;
            }
        }
    }
    h1{
        color: #fff;
        padding-top: 5px;
        flex:  0 0 50%;
        @include max-md{
            display: none;
        }
        @include xl{
            font-size: 12pt;
        }
        @include lg{
            font-size: 11pt;
        }
        @include md{
            font-size: 10pt;
        }
    }
    .fa{
        line-height: 0.5em;
    }
}
#navbar{
    background-color: #fff;
    @include md{
        box-shadow: 0 0 30px rgba(#4CAF50, .4);
        flex:  0 0 50%;
    }
    @include max-md{
        position: fixed;
        overflow-y: auto;
        left: -100%;
        transition: .4s ease all;
        z-index: 6;
        min-width: 250px;
        &.active{
            left: 0;
        }
    }
    a{
        padding: 8px;
        text-align: center;
        color: #4CAF50;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        span:last-child{
            font-weight: bold;
            padding-top: 2px;
        }
        @include lg{
            padding: 8px 15px;
            font-size: 13px;
        }
        @include md{
            font-size: 10pt;
            flex-direction: column;
            padding: 5px;
        }
        @include max-md{
            justify-content: start;
        }
        &:hover{
            color: #fff;
            background-color: rgb(62, 145, 64);
        }
        span{
            line-height: 1;
            // display: block;
            text-align: center;
        }
    }
    >ul>li{
        flex: 1;
        @include md{
            &:not(:last-child){
                a{
                    border-right: 1px solid rgba(#4CAF50, .4);
                }
            }
        }
    }
    .dropdown{
        >a{  
            position: relative;
            &::after{
                content: '\f107';
                font-family: Fontawesome;
                position: absolute;
                top: 50%;
                right: 5px;
                font-size: 14pt;
                transform: translateY(-50%);
            }
        }
    }
}
.header-middle{
    background-color: #4CAF50;
}
#sub-menu{
    @include max-sm {
        padding: 0;
    }
    @include max-md{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: .4s ease all;
        text-align: center;
        li{
            flex: 1 1 auto;
            width: auto;
            &:not(:last-child){
                a{
                    border-right: 1px solid #eee;
                }
            }
        }
        span{
            font-size: 8pt;
            display: block;
        }
    }
    ul{
        flex-wrap: wrap;
        list-style: none;
        padding: 0 15px;
        margin: 0 -15px;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 10px;
        color: #fff;
        font-size: 11pt;
        @include lg{
            font-size: 11pt;
            .fa{
                display: inline-block;
            }
        }
        @include md{
            .fa{
                display: none;
            }
        }

    }
    @include md{
        li{
            a{
                background-color: #7CB342;
                &:hover{
                    background-color: #558B2F;
                }
            }
            &:nth-child(3){
                a{
                    background-color: #66BB6A;
                    &:hover{
                        background-color: #43A047;
                    }
                }
            }
            &:nth-child(2){
                a{
                    background-color: #95a5a6;
                    &:hover{
                        background-color: #7f8c8d;
                    }
                }
            }
            &:nth-child(1){
                a{
                    background-color: #bdc3c7;
                    &:hover{
                        background-color: #7f8c8d;
                    }
                }
            }
        }
    }
    @include max-md{
        li{
            a{
                background-image: linear-gradient(to top, #fff, #ddd);
                color: #43A047;
            }
        }
    }
}
#header.affix{
    position: fixed;
    top: 0;
    h1{
        display: none;
    }
    @include md{
        #logo{
            flex: 0 0 20%;
            max-width: 20%;
            img{
                max-width: unset;
                height: 35px;
            }
            &::before{
                transform: unset;
            }
        }
        .view {
            display: none;
        }
        .header-middle{
            @include lg{
                flex: 0 0 40%;
                max-width: 40%;
            }
            @include md{
                flex: 0 0 50%;
                max-width: 50%;
            }
            a{
                height: 100%;
                padding: 8px;
                .fa, span{
                    display: block;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    text-align: center;
                }
            }
        }
        #navbar{
            transform: unset;
            flex: 0 0 100%;
        }
        #sub-menu{
            flex-wrap: nowrap; 
            @include lg{
                max-width: 40%;
                flex: 0 0 40%;
            }
            @include md{
                max-width: 30%;
                flex: 0 0 30%;
            }
            li{
                @include lg{
                    flex: 1 1 auto;
                    width: auto!important;
                    a{
                        padding: 8px 5px;
                        font-size: 10pt;
                        .fa{
                            display: block;
                            line-height: .75em;
                        }
                    }
                }
                @include md{
                    .fa{
                        display: none;
                    }
                }
            }
            
        }
    }
    @include max-md{
        #logo img{
            max-height: 45px;
        }
        #sub-menu{
            bottom: 0%;
            
        }
    }
}
#header.hidden{
    #sub-menu{
        bottom: 0%;
    }
}
#toggle{
    border-left: 1px solid #ddd;
    a{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #43A047;
    }
}
#navbar .dropdown-menu{
    border-width: 0;
    a{  
        padding: 5px 15px!important;
        display: block!important;
        text-align: left!important;
        font-size: 12pt;
    }
    @include md{
        padding: 0;
        border-radius: 0;
        box-shadow: 0 5px 15px rgba(#000, .2);
        min-width: 100%;
        li{
            padding: 0;
            &:not(:last-child){
                a{
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    @include max-md{
        position: static!important;
        width: 100%;
        padding: 0;
        background-color: #eeee;
        transform: unset!important;
        li{
            padding: 0;
        }
    }
}
#overlay{
    position: fixed;
    display: none;
    left: 0;
    width: 100vw;
    z-index: 5;
    background-color: rgba(#000, .1);
    &.active{
        display: block;
    }
}
