.person-gallery {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-person {
    &__item {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(#a9acaf, .2);
        transition: .4s ease all;
        position: relative;
        z-index: 0;
        
        outline: 1px solid transparent;
        outline-offset: 7px;
        transition: .4s ease all;
        &:hover {
            outline-color: green;
            outline-offset: 2px;
        }
        
    }
    &_fixed {
        position: relative;
        z-index: 2;
        
    }   
}
.person{
   &-tags{
       display: inline-block;
        background-color: #7a7b7b;
        color: #fff;
        margin: 0px 8px 4px 0px;
        font-size: 10pt;
        min-width: 50px;
        text-align: center;
        padding: 0 4px;
        &:hover {
            background-color: rgba(#1c9c05, .7);
            color: #fff;
        }
    }
    &-titlename {
        font-size: 13pt;
        color: #c0392b;
        &:hover {
            color: orangered;
        }
    }
    &-jobs {
        font-size: 13pt;
        color: #ababab;
        &:hover {
            color: #797878;
        }
    }
}
.title-line {
    @include max-lg {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #dee2e6;

    }
}
.img-person {
    display: inline-block;
    width: 28px;
    height: 28px;
}
.rating-star .fa {
    color: #ababab;
    &.active{
        color: yellow;
    }
}