.person-gallery {
    // padding: 0;
    @include max-sm{ 
        // padding: 1rem;  
    }
    img {
        min-height: 100%;
        min-width: 100%;
    }
}
.list-person {
    &__item {
        border: 1px solid #dee2e6;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 2px 2px 2px #dee2e6;
        &:hover {
            border: 1px solid #a9acaf;
            box-shadow: 2px 2px 2px #a9acaf;
            transition: .3s ease-out all;
        }
    }   
}
.person{
   &-tags{
       display: inline-block;
        background-color:#07bda6;
        color: #fff;
        padding: 2px 6px;
        border-radius: 4px;
        margin: 4px;
        font-size: 13pt;
        font-weight: bold;
        &:hover {
            background-color: rgba(#e74c3c, .7);
            color: #fff;
        }
    }
}
.title-line {
    @include max-lg {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #dee2e6;

    }
}
.img-person {
    display: inline-block;
    width: 28px;
    height: 28px;
}