.person-gallery {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-person {
    &__item {
        // border: 1px solid #dee2e6;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(#a9acaf, .2);
        transition: .4s ease all;
        position: relative;
        z-index: 0;
        &::before, &::after{
            content: '';
            width: 0%;
            height: 0%;
            position: absolute;
            border-color: transparent;
            border-style: dashed;
            transition: .4s ease all;
            z-index: 1;
        }
        &::before{
            border-width: 0 0 1px 1px;
            left: 0;
            bottom: 0;
        }
        &::after{
            border-width: 1px 1px 0 0;
            right: 0;
            top: 0;
        }
        &:hover {
            // border: 1px solid #a9acaf;
            box-shadow: 2px 2px 25px rgba(#d6d6d6, .4);
            &::before, &::after{
                width: 100%;
                height: 100%;
                border-color: green;
            }
        }
    }   
}
.person{
   &-tags{
       display: inline-block;
        background-color: #7a7b7b;
        color: #fff;
        // border-radius: 4px;
        margin: 0px 8px 4px 0px;
        font-size: 10pt;
        min-width: 50px;
        text-align: center;
        padding: 0 4px;
        &:hover {
            background-color: rgba(#1c9c05, .7);
            color: #fff;
        }
    }
    &-titlename {
        font-size: 13pt;
        color: #c0392b;
        &:hover {
            color: orangered;
        }
    }
    &-jobs {
        font-size: 13pt;
        color: #ababab;
        &:hover {
            color: #797878;
        }
    }
}
.title-line {
    @include max-lg {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #dee2e6;

    }
}
.img-person {
    display: inline-block;
    width: 28px;
    height: 28px;
}
.rating-star .fa {
    color: #ababab;
    &.active{
        color: yellow;
    }
}