@import './mixin';
@import './global';
@import './header';
@import './footer';
@import './detailperson';
@import './detailjob';
@import './updatecv';
@import './employer';
@import './employerpost';
@import './jobcompany';
@import './jobmanage';
@import './login';
@import './registe';
@import './registemaster';
@import './listjobcompany';
@import './person';
@import './personlogin';
@import './detailmaster';
body{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    @include max-xl {
        font-size: 14pt;
    }
    @include max-md {
        font-size: 13pt;
    }
    @include max-sm {
        font-size: 12pt;
    }
}

.item-function {
    background-color: #fff;
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    transition: all .15s ease-in-out;
}
.form-control{
    &:focus{
        box-shadow: none;
        outline: none;
    }
}
.post {
    &-item {
        background-color: rgba(#fff, .8);
        &:hover {
            background-color: #fff;
        }
        &-link {
            color: #000;
            &:hover {
                color: #1c9c05;
            }
        }
    }
    &-itemlist{
        border-bottom: 1px solid #dee2e6;
        margin: 0!important;
        &-title {
            font-size: 13pt;
            color: #c0392b;
            &:hover{
             color: orangered;
            }
        }
        &-company {
            font-size: 13pt;
            color: #999;
            &:hover{
             color: #2f3640;
            }
        }
        &-link {
            color: #2f3640;
             &:hover{
             color: orangered;
            }
        }
        &:hover {
            background-color: #eee;  
        }
    }
    &-tags{
        display: inline-block;
        background-color: #7a7b7b;
        color: #fff;
        border-radius: 4px;
        margin: 4px 8px 4px 8px;
        font-size: 11pt;
        padding: 4px 4px;
        min-width: 45px;
        text-align: center;
        &:hover {
            background-color: rgba(#1c9c05, .7);
            color: #fff;
        }
    }
}
.swiper-slide {
    height: auto!important;
}
.post-title-sm {
    @include max-sm {
        text-align: center;
    }
}
.company-sm {
    @include max-sm {
        text-align: center;
    }
}
.title-post {
    display: block;
    padding: 10px 5px;
    background-color: #43A047;
    color: #fff;
    font-weight: bold;
    &:hover {
        color: #ccd1cc;
    }
}
.input-seach {
    position: relative;
    z-index: 0;
    .icons-home {
        position: absolute;
        z-index: 1;
        left: 15px;
        top: 50%;
        font-size: 15pt;
        color: #1c9c05;
        transform: translateY(-50%);
        @include max-sm {
            display: none;
        }
    }
    input {
        padding: 0.6rem 0.5rem 0.6rem 2.5rem;
        @include max-sm {
            padding: 0.5rem 0 0.5rem 0.5rem;
        }
    }
    &-link {
        display: block;
        padding: 0.6rem 0.5rem 0.6rem 2.5rem;
        border: 1px solid #dee2e6;
        background-color: #1c9c05;
        color: #fff;
        font-weight: bold;
        margin-top: 0px;
        &:hover {
            background-color: #104e04;
            color: #fff;
        }
    }
}
.input-select{
    background-color: #fff!important;
    padding: 0.75rem 0.5rem 0.75rem 2.5rem;
    @include max-sm {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
}
.swiper-main{
    img{
        width: 100%;
        height: 300px;
        @include max-sm {
            height: 150px;
        }
    }
}
.banner-bottom {
    @include max-sm {
        display: none;
    }
}
.three-banner {
    img {
        max-height: 250px;
        width: 100%;
    }
}
.btn-submit-seach {
    display: block;
    background-color: #43A047;
    color: #fff;
    font-weight: bold;
    min-width: 100%;
    min-height: 100%;
    border: none;
}
.img-banner{
    &_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(71, 191, 49, .6);
        color: #fff;
        font-size: 18pt;
        font-weight: bold;
        span {
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
        }
    }
}
.data-company {
    outline: 1px solid transparent;
    outline-offset: 7px;
    transition: .2s ease all;
    &:hover {
        outline-color: #2225d1;
        outline-offset: 2px;
    }
}
.v-form{
    display: flex;
    
    align-items: start;
    @include max-sm {
        flex-wrap: wrap;
    }
    > *{
        padding-left: 15px;
        padding-right: 15px;
        @include max-sm {
        padding-left: 0;
        padding-right: 0;
        }
    
    }
    .v-select-add{
        background-color: #555;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px 15px;
        @include max-sm {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 12px;
        }
    }
    .v-textare-add, textarea{
        width: 100%;
    }
    >.v-content-close{
        padding-left: 0px;
        padding-right: 0px;
        @include max-sm {
            text-align: center;
            width: 100%;
        }
    }
    .v-content-close span{
        font-size: 11pt;
        @include max-sm {
            text-align: center;
        }
    }
    
}
.form-add {
    text-align: right;
    margin: 8px 0px 16px 0px;
    @include max-sm {
        text-align: center;
    }
    a {
        display: inline-block;
        background-color: #4dafab;
        padding: 8px 16px;
        color: #fff;
        font-weight: bold;

    }
}

.ms-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ms-selectable {
    float: none!important;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0rem;
    
    &::after {
        content: 'Ngành nghề đã chọn:';
        display: block;
        font-weight: bold;
        color: #000;
        margin: 8px 0px;
    }   
}
.ms-list {
    @include max-sm {
        width: 100%!important;
    }
}
.ms-selection {
    flex: 0 0 100%;
    max-width: 100%;
     float: none!important;
     @include max-sm {
         float: left!important;
        flex-direction: column;
    }
}
.event-box {
    position: relative;
    &-overlay {
        position: absolute;
        height: 25%;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all .5s ease-in-out;
        background-color: rgba(114, 139, 127, 0.5);
        @include max-lg {
            height: 30%;
        }
    }
    &-text {
        color: white;
        font-size: 20px;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include max-lg {
            font-size: 17px;
        }
        @include max-sm {
            font-size: 15px!important;
        }
    }
    img {
        height: 300px;
         @include max-sm {
            height: auto!important;
        }
    }
}
.event-box:hover .event-box-overlay {
    opacity: 1;
}
.banner-ngang {
    img {
        height: 300px;
        @include max-sm {
            height: auto!important;
        }
    }
}