{% extends 'layouts/default.html' %}

{% block title %}Detail-Person{% endblock %}

{% block content %}
<section class="person py-lg-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-6 p-md-0 order-1 mb-3 mb-md-0">
                <div class="post-item border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Ảnh Đại Diện</a>
                    </h5>
                    <div class="text-center avatar">
                        <a href="#"><img class="w-100 avatar-all" src="http://images.ndh.vn/Images/Uploaded/Share/2016/10/13/e55nguyen-trung-tin.jpg" alt="eventjob"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-md-0 order-3">
                <div class="post-item border h-100 d-flex flex-column">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Thông Tin Ứng Viên</a>
                    </h5>
                    <div class="d-flex flex-wrap portfolio flex-grow-1 m-0">
                        <div class="col-md-6">
                            <div class="row h-100">
                                <div class="col-12">
                                    <div class="row info-line">
                                        <div class="col">
                                            <span class="info-title">Họ Tên</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content-name">NGUYỄN ĐÌNH TIẾN</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row info-line">
                                        <div class="col-12">
                                            <span class="info-title">Ngành Nghề</span>
                                        </div>
                                        <div class="col-12">
                                            <span>Marketing - Thiết kế - Lập Trình Tài Chính - Sale - Google Aw</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Trình Độ</span>
                                        </div>
                                        <div class="col">
                                            <span>Đại Học</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Ngoại Ngữ</span>
                                        </div>
                                        <div class="col">
                                            <span>Tiếng Anh</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <span class="info-title">Tình Trạng</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">Đã có việc làm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  border-left h-100">
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Ngày Sinh</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">03/04/1990</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Giới Tính</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">Nam</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Hôn Nhân</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">Chưa kết hôn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Thường trú</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">Bà Rịa</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row  info-line">
                                        <div class="col">
                                            <span class="info-title">Hiện Tại</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">Vũng Tàu</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <span class="info-title">Ngày cập nhật</span>
                                        </div>
                                        <div class="col">
                                            <span class="info-content">19/3/2019</span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-6 p-md-0 or-2 order-md-3 mb-3 mb-md-0">
                <div class="post-item border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Ảnh Toàn Thân</a>
                    </h5>
                    <div class="text-center">
                        <a href="#"><img class="w-100 avatar-all" src="http://images.ndh.vn/Images/Uploaded/Share/2016/10/13/e55nguyen-trung-tin.jpg" alt="eventjob"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-lg-4 py-3">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Học Vấn</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Tốt Nghiệp THPT Vũng Tàu - 2008 - 2011</span></p>
                        <p><span>Tốt Nghiệp Đại Học Hoa Sen - Tài Chính Ngân Hàng - 2011 - 2015</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Chứng Chỉ</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Chứng chỉ môi giới Bất Động Sản</span></p>
                        <p><span>Chứng chỉ tin học loại C</span></p>
                        <p><span>Chứng chỉ Anh Ngữ Toeic 650</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Giải Thưởng</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Giải cầu lông đơn Nam hang 2 - BBC tổ chức</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Kỹ Năng Mềm</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Thuyết Trình</span></p>
                        <p><span>Giao Tiếp</span></p>
                        <p><span>Thuyết Phục</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Phần Mềm Thông Dụng</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Photoshop</span></p>
                        <p><span>Moviemarket</span></p>
                        <p><span>Powerpoint</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="post-item skill border">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Kinh Nghiệm</a>
                    </h5>
                    <div class="content-area">
                        <p><span>Nhân viên Lập trình Web tại Vutatech 2016 - 2018</span></p>
                        <p><span>Nhân viên kinh doanh tại Thủ Thêm Real 2018 - 2019</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="plus-content py-lg-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col p-md-0">
                <p class="content-plus">
                    <a class="btn btn-secondary font-weight-bold w-100" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <span>Thông tin thêm</span>
                        <i class="fa fa-sort-desc text-right" aria-hidden="true"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p>Nội dung có thể là link Video trong khung chiếu Video</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bannerQC py-lg-4 py-3">
    <div class="container three-banner ">
        <div class="row">
            <div class="swiper-container swiper-person text-center">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" target="_blank"><img
                                src="http://blog.cosine-inn.com/wp-content/uploads/2013/05/cropped-cosine-banner-6-330x250.jpg"
                                alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank"><img
                                src="https://www.itsecurityguru.org/wp-content/uploads/2017/07/security-serious-banner-330x280-330x250.png"
                                alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank"><img
                                src="http://www.woorockets.com/wp-content/uploads/2017/01/banner-to-product-lines-330x250.png"
                                alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blanl"><img
                                src="https://2.bp.blogspot.com/-DKhksSLoIL4/XGKZLdZwNbI/AAAAAAAAQf0/84uvBvR-k8MWpIsPGY9MxV2IaatVsYGtwCLcBGAs/s1600/bread-breakfast-bun-1633525%2B%25281%2529.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="swiper-pagination pagination-person"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<section class="py-lg-4 py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 btn-backlink p-md-0">
                <div class="btn-backlink_primary">
                    <a href="#">Sửa CV</a>
                </div>
            </div>
            <div class="col-md-4 btn-backlink p-md-0">
                <div class="btn-backlink_secondary">
                    <a href="#">Trở Về Trang Ứng Viên</a>
                </div>
            </div>
            <div class="col-md-4 btn-backlink p-md-0">
                <div class="btn-backlink_info">
                    <a href="tel:+0901238877">Số Điện Thoại Ứng Viên</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}