{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

{% import "macro/listjob.html" as list %}
<section>
    <div class="container banner-slide">
        <div class="swiper-container swiper-main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{img('slide-bg.jpg')}}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img('slide-bg2.jpg')}}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img('slide-bg3.jpg')}}" alt="">
                </div>
            </div>
            <div class="swiper-pagination pagination-main"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
</section>
<section class="event py-lg-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="post-item mr-lg-3">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Sự Kiện Tuyển Dụng</a>
                    </h5>
                    <div class="text-center">
                        <a href="#" class="d-block"><img class="w-100" src="https://placehold.it/330x250"
                                alt="eventjob"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-item ml-lg-3 ">
                    <h5 class="border-bottom text-center mb-0">
                        <a href="#" class="title-post">Sự Kiện Tuyển Dụng</a>
                    </h5>
                    <div class="text-center">
                        <a href="#" class="d-block"><img class="w-100" src="https://placehold.it/330x250"
                                alt="eventjob"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seach bg-light p-3">
    <div class="container">
        <form class="row" action="" method="post">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 py-2 py-md-0">
                        <div class="input-seach">
                            <i class="fa fa-briefcase icons-home" aria-hidden="true"></i>
                            <input class="w-100 " autocomplete="off"
                                placeholder="Tiêu đề công việc, vị trí, địa điểm làm việc...">
                        </div>
                    </div>
                    <div class="col-md-4 py-2 py-md-0">
                        <div class="input-seach w-100 input-group">
                            <i class="fa fa-key icons-home" aria-hidden="true"></i>
                            <select class="input-select input-seach selectpicker w-100">
                                <option value="audi" selected disabled>Tất cả ngành nghề</option>
                                {% for item in data.selects %}
                                <option class="input-select-item" value="volvo">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 py-2 py-md-0">
                        <div class="input-seach w-100 input-group">
                            <i class="fa fa-map-marker icons-home" aria-hidden="true"></i>
                            <select class="input-select input-seach selectpicker w-100">
                                <option value="audi" selected disabled>Địa điểm</option>
                                {% for item in data.local %}
                                <option class="input-select-item" value="volvo">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row h-100 py-2 py-md-0">
                    <div class="col ">
                        <button type="submit" class="btn-submit-seach py-2 py-md-0">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="post bg-light">
    <div class="container">
        <div class="row py-3">
            {{ list.job('Việc làm quản lý', 'a1', 'public/images/dongtam.jpg') }}
            {{ list.job('Việc làm quản lý', 'a2', 'public/images/dongtam.jpg') }}
            {{ list.job('Việc làm quản lý', 'a3', 'public/images/dongtam.jpg') }}
            {{ list.job('Việc làm quản lý', 'a4', 'public/images/dongtam.jpg') }}
            {{ list.job('Việc làm quản lý', 'a5', 'public/images/dongtam.jpg') }}
            {{ list.job('Việc làm quản lý', 'a6', 'public/images/dongtam.jpg') }}
        </div>
    </div>
</section>
<section class="bannerQC py-lg-4 py-3">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 mb-3 mb-md-0">
                <img src="http://www.rpmrt.org.uk/wp-content/uploads/2018/01/IMG_1165-640x250.jpg" alt="">
                <a href="#" class="img-banner_text"><span>DATA DOANH NGHIỆP</span></a>
            </div>
            <div class=" col-md-6 ">
                <img src="http://www.rpmrt.org.uk/wp-content/uploads/2018/01/IMG_1165-640x250.jpg" alt="">
                <a href="#" class="img-banner_text"><span>DATA ỨNG VIÊN</span></a>
            </div>

        </div>
    </div>
    <div class="container py-lg-4 py-3">
        <a href="#"><img class="w-100"
                src="https://previews.123rf.com/images/ylivdesign/ylivdesign1708/ylivdesign170829591/84555638-weather-season-forecast-banner-horizontal-concept-flat-illustration-of-weather-season-forecast-banne.jpg"
                alt=""></a>
    </div>
    <div class="container three-banner ">
        <div class="swiper-container swiper-person text-center">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" target="_blank"><img
                            src="http://blog.cosine-inn.com/wp-content/uploads/2013/05/cropped-cosine-banner-6-330x250.jpg"
                            alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank"><img
                            src="https://www.itsecurityguru.org/wp-content/uploads/2017/07/security-serious-banner-330x280-330x250.png"
                            alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank"><img
                            src="http://www.woorockets.com/wp-content/uploads/2017/01/banner-to-product-lines-330x250.png"
                            alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blanl"><img
                            src="https://2.bp.blogspot.com/-DKhksSLoIL4/XGKZLdZwNbI/AAAAAAAAQf0/84uvBvR-k8MWpIsPGY9MxV2IaatVsYGtwCLcBGAs/s1600/bread-breakfast-bun-1633525%2B%25281%2529.jpg"
                            alt=""></a>
                </div>
            </div>
            <div class="swiper-pagination pagination-person"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section class="bg-light py-3">
    <div class="container position-relative">
        <img src="http://www.projectionpro.com/wp-content/uploads/2015/04/ServicesBanner-1140x300.jpg" alt="">
        <a href="#" class="img-banner_text"><span>Giới Thiệu Vuta.vn</span></a>
    </div>
</section>
{% endblock %}