{% extends 'layouts/default.html' %}

{% block title %}list-job-company{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center my-3 detail-company">
            <div class="col-md-3 text-center img-company">
                <img src="{{img('logo-hoangphat.png')}}" alt="">
            </div>
            <div class="col-md-9 content-company py-2">
                <ul class="nolist">
                    <li class="post-title-sm">
                        <a href="#" class="post-itemlist-title detail-company__title">
                            Công ty TNHH Hoàng Phát
                        </a>
                    </li>
                    <li>Chuyên giải quyết vấn đề phần mềm</li>
                    <li>Đạt danh hiệu chuẩn iso 2018</li>
                    <li>Website: <a href="#" class="text-dark"><u>hoangphat.org</u></a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-wrap list-detail-company">
            <div class="col-lg-12 text-left my-2 p-0">
                <h4 class="px-3">Việc làm hấp dẫn</h4>
                <hr class="w-100">
            </div>
            <ul class="nolist col-lg-12 p-0">
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
                <li class="d-flex flex-wrap align-items-center listjob mb-3">
                    <div class="col-lg-9">
                        <span><a href="#" class="listjob-items">Nhân viên Marketing Online - Chưa có kinh nghiệm được đào tạo</a></span><br>
                        <span><a class="post-tags" href="#">Nam/Nữ</a></span>
                        <span><a class="post-tags" href="#">02</a></span>
                        <span><a class="post-tags" href="#">BR-VT</a></span>
                        <span><a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a></span>
                        <span><a class="post-tags" href="#">ĐH</a></span>
                        <span><a class="post-tags" href="#">18-4-2019</a></span>
                    </div>
                    <div class="col-lg-3 text-center text-md-right py-3 py-md-0">
                        <a href="#" class="listjob-link">Ứng tuyển</a>
                    </div>
                </li>
            </ul>
          
        
        </div>
        <div class="col py-3">
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
</section>
{% endblock %}