{% extends 'layouts/personal.html' %}

{% block title %}Create-CV{% endblock %}

{% block content %}
<section class="py-lg-5 py-3">
    <div class="container">
        <form action="" method="post">
            <div class="porfolio-test px-3">
                <div class="row py-lg-4">
                    <div class="col-md-3">
                        <div class="row sticky">
                            <div class="col-md-12 col-6 justify-content-center text-center bg-success mb-lg-3">
                                <div class="text-center pt-3">
                                    <label class="position-relative avatar">
                                        <img src="http://beta.bienhoagear.com/img/av.jpg" alt="">
                                        <input type="file" name="" id="" hidden>
                                        <div class="text-white upload-text">Chọn ảnh logo<br> Công ty</div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-6 justify-content-center text-center bg-success mb-lg-3">
                                <div class="text-center pt-3">
                                    <label class="position-relative avatar">
                                        <img src="http://beta.bienhoagear.com/img/av.jpg" alt="">
                                        <input type="file" name="" id="" hidden>
                                        <div class="text-white upload-text">Chọn ảnh banner SP</div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-6 justify-content-center text-center bg-success">
                                <div class="text-center pt-3">
                                    <label class="position-relative avatar">
                                        <img src="http://beta.bienhoagear.com/img/av.jpg" alt="">
                                        <input type="file" name="" id="" hidden>
                                        <div class="text-white upload-text">Chọn ảnh Công<br> ty</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 pr-md-0 mb-3">
                        <div class="bg-white profile">
                            <h5 class="text-center mb-0 mt-3 mt-md-0">
                                <span href="#" class="title-updatecv">Thông Tin Công Ty</span>
                            </h5>
                            <div class="px-3 pt-3">
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="row">
                                            <div class="col-md-12 py-1">
                                                <div class="form-group">
                                                    <span class="info-title">Tên công ty</span>
                                                    <input type="text" class="form-control form-control-sm rounded-0" placeholder="Nhập tên công ty. . .">
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <div class="form-group">
                                                    <span class="info-title">MST - GPKD</span>
                                                    <input type="number" class="form-control form-control-sm rounded-0" placeholder="Nhập mã số thuế. . .">
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <div class="form-group">
                                                    <span class="info-title">Website</span>
                                                    <textarea class="form-control" name="text" id="" rows="2" placeholder="Nhập địa chỉ website..."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <div class="form-group">
                                                    <span class="info-title">Vốn điều lệ</span>
                                                    <textarea class="form-control" name="text" id="" rows="2" placeholder="Nhập vốn điều lệ..."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-1">
                                                <div class="form-group">
                                                    <span class="info-title">Số lượng nhân sự</span>
                                                    <textarea class="form-control" name="text" id="" rows="2" placeholder="Nhập số lượng nhân sự..."></textarea>
                                                </div>
                                            </div>
                                       </div>
                                   </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12 py-1">
                                                <span class="info-title">Tất cả ngành nghề</span>
                                                <select id='keep-order' multiple='multiple'>
                                                    <option value='it'>IT</option>
                                                    <option value='marketing'>Marketing</option>
                                                    <option value='sale'>Sale</option>
                                                    <option value='nhanvientrongquannet'>Nhân viên trông quán nét</option>
                                                    <option value='elem_5'>elem 5</option>
                                                    <option value='elem_6'>elem 6</option>
                                                    <option value='elem_7'>elem 7</option>
                                                    <option value='elem_8'>elem 8</option>
                                                    <option value='elem_9'>elem 9</option>
                                                    <option value='elem_100'>elem 100</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center mb-0 mt-3 mt-md-0">
                                <span href="#" class="title-updatecv">Thông Tin Địa Điểm</span>
                            </h5>
                            <div class="px-3 pt-3">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="info-title">Trụ sở</span>
                                    </div>
                                    <div class="col-md-10">
                                        <form-add id="form-one" name="test" placeholder="Nhap dia chi">
                                            <v-add-content name="test" val='con gio, 72 Hàng Mã' class="d-flex">
                                                <option value="con gio">Hà Nội</option>
                                                <option value="kitty">BR-VT</option>
                                                <option value="test 10">TPHCM</option>
                                                <option value="balbal">Nha Trang</option>
                                                <option value="ok">is ok</option>
                                                <option value="test 1">test 7</option>
                                            </v-add-content>
                                            <a href="#" class="btn btn-" slot="add_more">
                                                Thêm mới
                                            </a>
                                        </form-add>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="info-title">VP đại diện</span>
                                    </div>
                                    <div class="col-md-10">
                                        <form-add id="form-one" name="test" placeholder="Nhap dia chi">
                                            <v-add-content name="test" val='con gio, 72 Hàng Mã' class="d-flex">
                                                <option value="con gio">Hà Nội</option>
                                                <option value="kitty">BR-VT</option>
                                                <option value="test 10">TPHCM</option>
                                                <option value="balbal">Nha Trang</option>
                                                <option value="ok">is ok</option>
                                                <option value="test 1">test 7</option>
                                            </v-add-content>
                                            <a href="#" class="btn btn-" slot="add_more">
                                                Thêm mới
                                            </a>
                                        </form-add>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="info-title">Chi nhánh</span>
                                    </div>
                                    <div class="col-md-10">
                                        <form-add id="form-one" name="test" placeholder="Nhap dia chi">
                                            <v-add-content name="test" val='con gio, 72 Hàng Mã' class="d-flex">
                                                <option value="con gio">Hà Nội</option>
                                                <option value="kitty">BR-VT</option>
                                                <option value="test 10">TPHCM</option>
                                                <option value="balbal">Nha Trang</option>
                                                <option value="ok">is ok</option>
                                                <option value="test 1">test 7</option>
                                            </v-add-content>
                                            <a href="#" class="btn btn-" slot="add_more">
                                                Thêm mới
                                            </a>
                                        </form-add>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center mb-0 mt-3 mt-md-0">
                                <span href="#" class="title-updatecv">Thông Tin Liên Hệ</span>
                            </h5>
                            <div class="px-3 pt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12 py-2">
                                                <div class="form-group">
                                                    <span class="info-title">Số điện thoại</span>
                                                    <input type="text" class="form-control form-control-sm rounded-0"
                                                        placeholder="Nhập số điện thoại. . .">
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-2">
                                                <div class="form-group">
                                                    <span class="info-title">Hotline</span>
                                                    <input type="number" class="form-control form-control-sm rounded-0"
                                                        placeholder="Nhập Hotline. . .">
                                                </div>
                                            </div>
                                            <div class="col-md-12 py-2">
                                                <div class="form-group">
                                                    <span class="info-title">Email</span>
                                                    <input type="email" class="form-control form-control-sm rounded-0" placeholder="Nhập email. . .">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-lg-4 py-3 bg-light">
                    <div class="col-md-12 py-2 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-updatecv">Thông Tin Thêm</span>
                            </h5>
                            <textarea class="form-control" name="text" id="" rows="6"
                                placeholder="Nhập thông tin thêm..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 py-2 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-updatecv">Thông Tin Tuyển Dụng</span>
                            </h5>
                            <textarea class="form-control" name="text" id="" rows="6"
                                placeholder="Nhập danh sách tuyển dụng ở Job..."></textarea>
                        </div>
                    </div>
                    
                    <div class="text-center w-100 py-3">
                        <button type="submit" class="btn-upload">UpLoad</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}