{% extends 'layouts/default.html' %}

{% block title %}Create-CV{% endblock %}

{% block content %}
<section class="CreateCV py-lg-5 py-3">
    <div class="container">
        <form action="" method="post">
            <div class="porfolio-test">
                <div class="row bg-success py-lg-4 porfolio-test-1 align-items-center">
                    <div class="col-md-2 flex-grow-1">
                        <div class="text-center">
                            <img class="porfolio-test-ava"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIxIUzhnnlKfADYvmlWZXDwltV8u3MHPtfI5kGC50FquW7J93L"
                                alt="">
                            <button type="file" class="btn-upload-img mt-2">Chọn ảnh toàn thân</button>
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="input-seach form-group">
                            <i class="fa fa-briefcase icons-home" aria-hidden="true"></i>
                            <input class="w-100" autocomplete="off" placeholder="Nhập Họ Tên">
                        </div>
                        <div class="input-seach w-100 input-group">
                            <i class="fa fa-key icons-home" aria-hidden="true"></i>
                            <select class="input-select input-seach selectpicker w-100">
                                <option value="audi" selected disabled>Tất cả ngành nghề</option>
                                {% for item in data.selects %}
                                <option class="input-select-item" value="volvo">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 flex-grow-1">

                        <div class="text-center">
                            <img class="porfolio-test-ava"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIxIUzhnnlKfADYvmlWZXDwltV8u3MHPtfI5kGC50FquW7J93L"
                                alt="">
                            <button type="file" class="btn-upload-img mt-2">Chọn ảnh đại diện</button>
                        </div>


                    </div>


                </div>
                <div class="row bg-light py-lg-4 porfolio-test-2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <h5>Ngày sinh:</h5>
                                            <input class="form-control w-100" type="date" name="bday" max="3000-12-31"
                                                min="1000-01-01" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Giới tính:</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Ngoại Ngữ</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Thường trú</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Hiện Tại</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Hôn Nhân:</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Trình Độ:</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-seach w-100 input-group form-group">
                                            <h5>Tình Trạng</h5>
                                            <select
                                                class="input-select pl-0 input-seach selectpicker w-100 form-control p-0 form-control-ps">
                                                <option value="audi" selected disabled>Chọn</option>
                                                {% for item in data.another %}
                                                <option class="input-select-item" value="volvo">{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light py-lg-4 py-3">
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Kỹ Năng</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Phần Mềm Thông Dụng</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Học Vấn</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Chứng Chỉ Khác</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Kinh Nghiệm Làm Việc</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Các Giải Thưởng Đã Đạt</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 mb-lg-3">
                        <div class="porfolio-cv">
                            <h5 class="text-center mb-0">
                                <span href="#" class="title-post">Các Giải Thưởng Đã Đạt</span>
                            </h5>
                            <textarea class="w-100" name="text" id="" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="text-center w-100">
                        <button type="submit" class="btn-upload">UpLoad</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}