{% macro job(name, id, img) %}
<div class="col-xl-4 col-lg-4 col-md-6 mb-md-3">
    <div class="post-item border">
        <h5 class="border-bottom text-center mb-0"><a href="#" class="title-post">{{name}}</a></h5>
        <div id="{{id}}" class="swiper-container" data-swiper="#{{id}}">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row post-itemlist align-items-center m-2">
                        <div class="col-md-4 mt-2 mb-2">
                            <a href="#" clas="d-block"><img class="text-center" src="{{img}}" alt=""></a>
                        </div>
                        <div class="col-md-8 text-left p-0">
                            <ul class="nolist">
                                <li class="post-title-sm">
                                    <a href="#" class="post-itemlist-title">
                                        Quản lí khách sạn Hoa Hồng
                                    </a>
                                </li>
                                <li class="company-sm">
                                    <a href="#" class="post-itemlist-company">
                                        Khách sạn hoa hồng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col mb-2 mt-1">
                            <ul class="nolist d-flex flex-wrap">
                                <li>
                                    <a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">BR-VT</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">ĐH</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">18-4-2019</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row post-itemlist align-items-center m-2">
                        <div class="col-md-4 mt-2 mb-2">
                            <a href="#" clas="d-block"><img src="{{img}}" alt=""></a>
                        </div>
                        <div class="col-md-8 text-left p-0">
                            <ul class="nolist">
                                <li class="post-title-sm">
                                    <a href="#" class="post-itemlist-title">Quản lí khách sạn Hoa Hồng</a>
                                </li>
                                <li class="company-sm">
                                    <a href="#" class="post-itemlist-company">Khách sạn hoa hồng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col mb-2 mt-1">
                            <ul class="nolist d-flex flex-wrap">
                                <li>
                                    <a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">BR-VT</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">ĐH</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">18-4-2019</a>
                                </li>
                            </ul>
                            <div class="row text-left">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row post-itemlist align-items-center m-2">
                        <div class="col-md-4 mt-2 mb-2">
                            <a href="#" clas="d-block"><img src="{{img}}" alt=""></a>
                        </div>
                        <div class="col-md-8 text-left p-0">
                            <ul class="nolist">
                                <li class="post-title-sm">
                                    <a href="#" class="post-itemlist-title">Quản lí khách sạn Hoa Hồng</a>
                                </li>
                                <li class="company-sm">
                                    <a href="#" class="post-itemlist-company">Khách sạn hoa hồng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col mb-2 mt-1">
                            <ul class="nolist d-flex flex-wrap">
                                <li>
                                    <a class="post-tags" href="#">7.000.000đ - 10.000.000đ</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">BR-VT</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">ĐH</a>
                                </li>
                                <li>
                                    <a class="post-tags" href="#">18-4-2019</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination pagination-main d-md-none"></div>
            <div class="swiper-button-next d-md-none"></div>
            <div class="swiper-button-prev d-md-none"></div>
        </div>
        <div class="col p-2 text-center">
            <a href="#" class="post-item-link"><span>Xem tất cả</span></a>
        </div>
    </div>
</div>
{% endmacro %}